[submodule "data-aggregation-skills"]
	path = data-aggregation-skills
	url = https://github.com/wdragondragon/data-aggregation-skills.git
[submodule "data-aggregation-studio"]
	path = data-aggregation-studio
	url = https://github.com/wdragondragon/data-aggregation-studio.git
